:root {
  --primary-color: white;
  --secundary-color: #757575;
  --custom-dark: #2f303a;
  --custom-light: #2196f3;
  --detail-color: #f5f4fa;
  --buttons-color: #f5f4fa;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-color);
  background-color: var(--primary-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
/*Normalizacion*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*genericos*/
.current-link {
  color: var(--custom-light);
}
.color-dark {
  color: var(--custom-dark);
}

.text-decoration {
  text-decoration: none;
}
.list-style {
  list-style: none;
}
.subtitles {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.8;
  text-align: center;
  margin-bottom: 55.05px;
}
.color-white {
  color: var(--detail-color);
}

/*Header*/
.header-logo > .logo-azul {
  color: var(--custom-light);
  font-weight: 700;
  font-size: 26px;
}
.logo-link {
  color: var(--custom-dark);
  font-weight: 700;
  font-size: 26px;
  justify-content: flex-start;
  margin-top: 8px;
}
.logo-azul {
  color: var(--custom-light);
  font-weight: 700;
  font-size: 26px;
}
.header-navigation > .navigation-item > *:hover {
  color: var(--custom-light);
}
.navigation-item {
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header-contact-section > .header-contact-item > *:hover {
  color: var(--custom-light);
}
.header-contact-section > .header-contact-item > *:focus {
  color: var(--custom-light);
}

.header-contact-section > .header-contact-item > * {
  color: var(--secundary-color);
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.02em;
}
/*Main*/
/*seccion 1*/
.bg-principal-tittle {
  background-color: var(--custom-dark);
  padding-top: 200px;
  padding-bottom: 200px;
}
.principal-tittle {
  color: var(--primary-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  justify-content: center;
  padding-right: 300px;
  padding-left: 300px;
  padding-bottom: 40px;
  margin-right: 0px;
}
.button-service {
  background-color: #2196f3;
  color: var(--detail-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.principal-section {
  display: flex;
  justify-content: center;
}
/*seccion 2*/
.tittles-our-advantages {
  color: var(--custom-dark);
  line-height: 24px;
  font-weight: 700px;
  padding-left: 30px;
}
.description-our-advantages {
  color: var(--secundary-color);
  line-height: 1;
  padding-left: 30px;
  padding-top: 10px;
}
/*seccion 3*/
.bg-our-team {
  background-color: var(--detail-color);
}
.names-our-team {
  color: var(--custom-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 0.8;
  margin-top: 30px;
  margin-bottom: 10px;
}
.profession-our-team {
  color: var(--secundary-color);
  font-size: 16px;
  line-height: 0.8;
  margin-bottom: 30px;
}
/*footer*/
.logo-azul {
  color: var(--custom-light);
  font-weight: 700;
  font-size: 26px;
}
.address-section > .contact > .contact-footer :hover {
  color: var(--custom-light);
}
.contact-footer {
  line-height: 1.5;
}

/*CSS PORTAFOLIO*/
/*MAIN*/
/*seccion 1*/
.option-buttons:hover {
  background-color: var(--custom-light);
}
.option-buttons {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  justify-content: center;
}
.focus-buttons > .buttons-portafolio *:focus {
  background-color: var(--custom-light);
}
/*seccion 2 */
.projects-name {
  color: var(--custom-dark);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 4px;
}
.description-projects {
  color: var(--secundary-color);
  font-size: 16px;
  line-height: 1.8;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 20px;
}
/*footer portafolio*/
.contact > .contact-footer :hover {
  color: var(--custom-light);
}
.contact > .contact-footer :focus {
  color: var(--custom-light);
}
.address-section {
  background-color: var(--custom-dark);
  line-height: 0.5;
  cursor: pointer;
}
.websites {
  font-weight: 700;
  line-height: 0.8;
}
.button-current {
  color: var(--buttons-color);
  background-color: var(--custom-light);
}
/*flexbox*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.header-links {
  display: flex;
  justify-content: space-evenly;
}
.link-webstudio {
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
}
.header-navigation {
  display: flex;
}
.header-navigation > .navigation-item {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 50px;
}
.header-contact-section {
  display: flex;
}
.header-contact-section > .header-contact-item {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 50px;
}
.subtitle-our-advantage {
  visibility: hidden;
}
.our-advantages {
  display: flex;
  gap: 10px;
}
.caracteristics {
  flex-basis: calc((100% - 30px) / 4);
}
.what-do-we-do {
  display: flex;
  gap: 10px;
}
.what-do-we-do-img {
  flex-basis: calc((100% - 40px) / 3);
}
.subtitle-our-team {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.8;
  text-align: center;
}
.experience {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 94px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}
.cards-container {
  display: flex;
  gap: 10px;
}

.card {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.contact {
  justify-content: space-evenly;
  text-align: left;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 100px;
}
/*FLEXBOX PORTAFOLIO*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.option-buttons {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  justify-content: center;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: none;
}
.img-projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.description-projects-design {
  color: var(--secundary-color);
  font-size: 16px;
  line-height: 0;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 20px;
}
.card-portafolio {
  background-color: white;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  margin-bottom: 30px;
  flex-basis: calc((100% - 20px) / 3);
}
.list-websites {
  display: flex;
  padding-bottom: 16px;
  justify-content: center;
}
