:root {
  --primary-color: white;
  --secundary-color: #757575;
  --custom-dark: #2f303a;
  --custom-light: #2196f3;
  --detail-color: #f5f4fa;
  --buttons-color: #f5f4fa;
  --icons-color: #afb1b8;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-color);
  background-color: var(--primary-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
/*Normalizacion*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
}
ul {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
a {
  color: currentColor;
}
svg {
  fill: currentColor;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*genericos*/
.color-telefon-mail {
  color: #757575;
}
.current-link {
  color: var(--custom-light);
  padding-top: 24px;
  padding-bottom: 25px;
}
.current-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--custom-light);
}
.color-dark {
  color: var(--custom-dark);
}

.text-decoration {
  text-decoration: none;
}
.list-style {
  list-style: none;
}
.subtitles {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.8;
  text-align: center;
  margin-bottom: 55.05px;
}
.color-white {
  color: var(--detail-color);
}

/*Header*/
.header-logo > .logo-azul {
  color: var(--custom-light);
  font-weight: 700;
  font-size: 26px;
}
.logo-link {
  color: var(--custom-dark);
  font-weight: 700;
  font-size: 26px;
  justify-content: flex-start;
  margin-right: 50px;
}
.logo-azul {
  color: var(--custom-light);
  font-weight: 700;
  font-size: 26px;
}
.transition-color {
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-navigation > .navigation-item > :hover {
  color: var(--custom-light);
}
.navigation-item {
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.02em;
  position: relative;
}
.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.header-contact-section > .header-contact-item *:hover {
  color: var(--custom-light);
}
.header-contact-section > .header-contact-item > *:focus {
  color: var(--custom-light);
}

.header-contact-section > .header-contact-item {
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.02em;
}
/*Main*/
/*seccion 1*/
.bg-principal-tittle {
  background-image: url('./../img/personasdiseñandouncarro.jpg');
  background-color: rgba(47, 48, 58, 0.4);
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
}
.principal-tittle {
  color: var(--primary-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.button-service {
  background-color: #2196f3;
  color: var(--detail-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  margin: 0 auto;
}
/*seccion 2*/
.tittles-our-advantages {
  color: var(--custom-dark);
  line-height: 24px;
  font-weight: 700px;
  margin-bottom: 10px;
}
.description-our-advantages {
  color: var(--secundary-color);
  line-height: 1;
}
/*seccion 3*/
.bg-our-team {
  background-color: var(--detail-color);
}
.names-our-team {
  color: var(--custom-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 0.8;
  margin-top: 30px;
  margin-bottom: 10px;
}
.profession-our-team {
  color: var(--secundary-color);
  font-size: 16px;
  line-height: 0.8;
  margin-bottom: 30px;
}
/*footer*/
.logo-azul {
  color: var(--custom-light);
  font-weight: 700;
  font-size: 26px;
}
.address-section > .contact > .contact-footer :hover {
  color: var(--custom-light);
}
.contact-footer {
  line-height: 1.5;
}

/*CSS PORTAFOLIO*/
/*MAIN*/
/*seccion 1*/
.option-buttons:hover {
  color: var(--detail-color);
  background-color: var(--custom-light);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.option-buttons {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  padding: 6px 24px;
  border-radius: 4px;
  border: none;
  justify-content: center;
}
.focus-buttons > .buttons-portafolio *:focus {
  color: var(--detail-color);
  background-color: var(--custom-light);
}
/*seccion 2 */
.box {
  padding: 24px;
}
.card-portafolio {
  width: 370px;
  height: 404px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #eeeeee;
  flex-basis: calc((100% - 20px) / 3);
  overflow: hidden;
  position: relative;
}
.card-portafolio:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-portafolio:hover > .text-overflox-cards {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-420px);
}
.text-overflox-cards {
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 300px;
  position: absolute;
}
.card {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: auto;
  margin: 0 auto;
}
.img-projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.projects-name {
  color: var(--custom-dark);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.description-projects {
  color: var(--secundary-color);
  font-size: 16px;
  line-height: 1.8;
}
/*footer portafolio*/
.contact > .contact-footer :hover {
  color: var(--custom-light);
}
.contact > .contact-footer :focus {
  color: var(--custom-light);
}
.address-section {
  line-height: 0.5;
  cursor: pointer;
}
.websites {
  font-weight: 700;
  line-height: 0.8;
}
/*flexbox*/
.header-links {
  display: flex;
  justify-content: space-evenly;
}
.link-webstudio {
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-contact-item:not(:last-child) {
  margin-right: 50px;
}
.header-contact-section {
  display: flex;
  align-items: center;
}

.subtitle-our-advantage {
  visibility: hidden;
}
.our-advantages {
  display: flex;
  gap: 10px;
}

.our-advantages > .caracteristics {
  flex-basis: calc((100% - 30px) / 4);
}
.what-do-we-do {
  display: flex;
  gap: 10px;
}
.what-do-we-do-img {
  flex-basis: calc((100% - 40px) / 3);
}
.subtitle-our-team {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.8;
  text-align: center;
}
.experience {
  text-align: center;
}
.cards-container {
  display: flex;
  gap: 10px;
}
.bg-footer {
  background-color: var(--custom-dark);
  padding-top: 60px;
  padding-bottom: 60px;
  font-style: normal;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}
.contact {
  justify-content: space-evenly;
  text-align: left;
}
/*FLEXBOX PORTAFOLIO*/
.buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 56px;
}
.list-websites {
  display: flex;
  padding-bottom: 16px;
  justify-content: center;
}
/*ICONS*/
.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.header-contact-item > svg:hover use {
  fill: var(--custom-light);
}
.telefon-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.antena {
  width: 270px;
  height: 120px;
  background-color: rgba(245, 244, 250, 1);
  display: flex;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
}
.reloj {
  width: 270px;
  height: 120px;
  background-color: rgba(245, 244, 250, 1);
  display: flex;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
}
.diagrama {
  width: 270px;
  height: 120px;
  background-color: rgba(245, 244, 250, 1);
  display: flex;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
}
.astronauta {
  width: 270px;
  height: 120px;
  background-color: rgba(245, 244, 250, 1);
  display: flex;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
}
.relative {
  position: relative;
}
.boxes-what-we-do {
  font-weight: 700;
  line-height: 16px;
  text-align: center;
}
.bg-what-we-do {
  padding: 27px 80px;
  position: absolute;
  width: 100%;
  bottom: 1px;
  background: rgba(47, 48, 58);
  opacity: 0.8;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 42px;
}
.clients:hover {
  fill: var(--custom-light);
  border: 1px solid var(--custom-light);
  border-radius: 4px;
}
.icons-clients {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #afb1b8;
}

.clients:not(:last-child) {
  margin-right: 30px;
}
.clients {
  width: 170px;
  height: 81px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.flex-websites {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.tittle-websites {
  margin-bottom: 20px;
}
.webistes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #ffffff1a;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #afb1b8;
}
.webistes:hover {
  background-color: var(--custom-light);
  color: var(--detail-color);
}
.space-footer {
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-style: normal;
}
.footer-container {
  display: flex;
  gap: 70px;
}
/*ventana modal*/
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal {
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;
}
.is-hidden {
  display: none;
}
