@import './utils/variables.scss';
@import './components/generics';
@import './components/pages-header';
@import './components/index-section1';
@import './components/index-section2';
@import './components/index-section3';
@import './components/index-section4';
@import './components/index-section5';
@import './components/pages-footer';
@import './components/modal-footer';
@import './components/modal';
@import './components/portafolio-section1';
@import './components/portafolio-section2';
