//modal
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.is-hidden {
  display: none;
}
.container__modal {
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  padding: 40px 40px;
  position: relative;
}

.modal__icon {
  position: absolute;
  left: 94%;
  bottom: 94%;
}
.form__tittle {
  color: $custom-dark;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 12px;
}
.form__text {
  color: #757575;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 0, 86px;
}
.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  width: 448px;
  height: 40px;
  padding: 15px 30px;
  margin-top: 4px;
  margin-bottom: 10px;
  position: relative;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input--icon {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus-visible + .form__input--icon {
  fill: $custom-light;
}
.form__input:focus-visible {
  border-color: $custom-light;
}
.form__input:hover + .form__input--icon {
  fill: $custom-light;
}
.form__input:hover {
  border-color: $custom-light;
}
.form__input--comments {
  fill: $custom-dark;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  padding-top: 12px;
  padding-right: 276px;
  padding-left: 12px;
  padding-bottom: 90px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input--comments:focus-visible {
  border-color: $custom-light;
}
.form__input--comments:hover {
  border-color: $custom-light;
}
.form__icon--name {
  fill: $custom-dark;
  position: absolute;
  top: 103px;
  left: 50px;
}
.form__icon--telefono {
  fill: $custom-dark;
  position: absolute;
  top: 175px;
  left: 50px;
}
.form__icon--mail {
  fill: $custom-dark;
  position: absolute;
  top: 245px;
  left: 50px;
}
.form__input--checkbox {
  width: 16px;
  height: 15px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.form__input--checkbox:checked + .check__icon {
  background-color: $custom-light;
}
.check__icon {
  border: 1px solid $custom-dark;
  position: relative;
  left: -10px;
}
.container__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit__bottom {
  background-color: $custom-light;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: $custom-light;
  color: $buttons-color;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.5px;
  letter-spacing: 0.06em;
}
