//footer
.footer__bg {
  background-color: $custom-dark;
  padding-top: 60px;
  padding-bottom: 60px;
  font-style: normal;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}
.footer__container {
  display: flex;
  gap: 70px;
}
.container__contact {
  justify-content: space-evenly;
  text-align: left;
  .contact__footer {
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    line-height: 1.5;
  }
}
.container__contact > .contact__footer :hover {
  color: $custom-light;
}
.container__contact > .contact__footer :focus {
  color: $custom-light;
}
.logo-azul {
  color: $custom-light;
  font-weight: 700;
  font-size: 26px;
}
.address__section {
  line-height: 0.5;
  cursor: pointer;
}
.address__section > .contact > .contact-footer :hover {
  color: $custom-light;
}
@media (max-width: 498px) {
  .footer__container {
    display: block;
    text-align: center;
  }
  .container__contact {
    display: block;
    text-align: center;
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .footer__container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
  }
  .container__contact {
    display: block;
    text-align: center;
    margin-bottom: 60px;
  }
  .address__section {
    margin-right: 80px;
  }
}
